<div class="container-fluid home-page">
  <div class="row bg-image">
    <div class="container">
      <div class="btn-container">
        <%= link_to 'Get Started', twitter_authentication_path, class: "tw-btn btn btn-clean btn-xl btn-bright-cerulean" %>
      </div>
    </div>
  </div>
</div>

