html, body {
  height: 100%;
}

.home-page {
  background: url('twitter.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.tw-btn {
  border: 2px solid #000;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
}

.btn-container {
  position: absolute;
  left: 48%;
  top: 48%;
}

tr.my-table td {
  padding: 15px 10px !important;
}

.top-padding {
  padding-top: 2%;
}
